
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color
    );
    transition: 0.2s ease-in-out;


}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{

border: 0.5px solid var(--secondary-text-color);
border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-in-out;

}
.secondary-button:hover{
  border-color: aqua;
  color: rgb(244, 102, 211) !important;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;

}
h3{
    font-size: 1.5rem;

}
p{
    font-family: sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color)
    ;
    line-height: 1.8rem;

}
ul{
   list-style: none; 
}
a{
    text-decoration: none;
    display: inline-block ;
}
.small-bold-text{
     font-size: 1rem;
     font-weight: 700;
}
.container{
max-width: 1180px;
margin-inline: auto;
padding: var(--padding-inline-section);
}

.flex{
display: flex;
align-items: center;

}
.top-banner {
    background-image:url(assets/asset\ 18.png) ;
    background-color: #4fb3d4;
background-size: 300px;}
.banner-text{
    margin-bottom: 5px;
   color: white;
   height: 10px;
   text-align: center; 
}
.main-nav{
margin-top: 20px;
justify-content: space-between;
}

.company-logo img{
    width: 200px;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul {
    justify-content: end;
    gap: 40px;
}
.hover-links{

    
   color: var(--primary-text-color); 
}
.hover-links:hover{
    transition-duration: 0.2s;
    color: var( --accent-color);
}

header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap: 50px;

}
.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}
.header-right img{
    width: 600px;
}
.Get{
    margin: 20px;
}
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    flex-wrap: wrap;
justify-content: space-between;
}
.logo{
    height: 46px;
}

.sk{
background-image: url(assets/asset\ 19.svg);
background-repeat: no-repeat;
background-position: center;
padding:80px var(--padding-inline-section) ;
}

.features-header{
    text-align: center;
}

.fetures-heading-text{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    justify-content: space-between;
}


.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
text-align: center;
}

.big-features-section{
padding: 30px var(--padding-inline-section);
}
.big-features-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 35.jpeg);
   
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
color: white;
}
.examples-area{
    justify-content: space-between;
    margin-block: 30px;

}


.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

.cta-section-container{
    flex-direction: column;
    gap: 30px;
color: white;
background-color: #183b56;
}
.cta-sections{
    padding: 100px var(--padding-inline-section);
    background-color: #183b56;
}

.cta-section-container p{
    color: white;
    margin-top: 0px;
}
.link-colomn{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
    
}
footer{
    padding-block: 80px;
    background-color: #d8dbe0;
}
.subfooter{
    background-color:#b9cde4 ;
    padding: var(--padding-inline-section);
}


.subfooter-container{
    justify-content: center;
    gap: 30px;

}